@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact Us</h2>
@if (TempData["Message"] != null)
{
    <span class="alert alert-success">@TempData["Message"]</span>
}

<form method="post">
    <table class="table table-bordered">
        <tr>
            <th for="Name">Name:</th>
            <td><input type="text" id="Name" name="Name" required /></td>
        </tr>
        <tr>
            <th for="Email">Email:</th>
            <td><input type="email" id="Email" name="Email" required /></td>
        </tr>
        <tr>
            <th for="Message">Message:</th>
            <td><textarea id="Message" name="Message" required></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Send Message</button>
            </td>
        </tr>
    </table>
</form>
